td, th {
  padding-right: 10px;
  float: center;
  border: 1.4px solid black;
}


table {
  border: 1.4px solid black;
}

.resultDisplay {

}

h2 {
  text-align: center;
}

.searchTermLabel, .length_display {
  font-style: italic;
}

