<DOCTYPE: html>

<html>
<center>
<head>
	<title>Menu Search</title>
	<style>
	
	.barsize {
		position:center;
		width:500px;
		height: 50px;
		border-radius: 25px 
	}
	.restrictions {
		width:300px;
		height:300px;
	}
	</style>

</head>

<body style="background-color:grey">
	<font face="Verdana">
	<h1>Menu Search </h1><br>
	</font>
	<h3>Search Restaurant:</h3>
	<div class="searchbar" name="resSearch">
		<form action="search.html">
			<input class=barsize type="text" placeholder="Search..." required><br>
			<!-- Moved the select with in the form so flask can get the data -->
			<br><h3>Select Dietary Restrictions:</h3>
			<select multiple id="restrictions" name="restrict"></select>
			<!-- Made a submit to use the flask -->
			<br />
			<input type="Submit" />
		</form>
	</div>
</body>
</center>

<script>
var select, i, option;
ingredients = ["Vegetarian Options", "Vegan Options", "Peanut Allergy", "Lactose Intolerance", "Celiac Disease (Gluten Free)", "Kosher", "Diebetic"];
ingredients.sort();	
select = document.getElementById("restrictions");
for ( i = 0; i < ingredients.length; i += 1) {
	var option = new Option(ingredients[i], ingredients[i], false);
	select.appendChild(option);
}
</script>

</html>

