<!DOCTYPE: html>

<html>
<center>
<head>
	<title>Allergy Search</title>
	<style>
	
	body {
		background-image: url="https://img.freepik.com/free-photo/table-with-vegetables_1112-361.jpg?size=626&ext=jpg";
	}

	.barsize {
		position:center;
		width:500px;
		height: 50px;
		border-radius: 25px 
	}
	.restrictiontab {
		position:center;
		font-size: 15px;	
		width:200px;
		height:200px;
	}
	.otherbarsize {
		width:200px;
		height:30px;
		border-radius:25px;
	}
	</style>

</head>

<body>
	<font face="Verdana">
	<h1>Allergy Search </h1><br>
	</font>
	<h3>Search Food:</h3>
	<div class="searchbar">
		<form action="search.html">
			<!-- Search bar for foods -->
			<input class=barsize type="text" placeholder="Search..." required><br>

			<!-- Moved the select with in the form so flask can get the data -->
			
			<!-- Tab for selecting dietary restrictions -->
			<br><h3>Select Dietary Restrictions:</h3>
			<select multiple class=restrictiontab id="restrictions" name="restrict"></select>
			<!-- Made a submit to use the flask -->
			<br />
			<input type="Submit" /><br>
			
			<!-- Other Search BAR -->
			<h3>Other:</h3><br>
			<input class=otherbarsize type="text" placeholder="Type here...">
		</form>
	</div>
</body>
</center>

<script>
var select, i, option;
ingredients = ["Vegetarian Options", "Vegan Options", "Peanut Allergy", "Lactose Intolerance", "Celiac Disease (Gluten Free)", "Kosher", "Eggs"];
ingredients.sort();	
select = document.getElementById("restrictions");
for ( i = 0; i < ingredients.length; i += 1) {
	var option = new Option(ingredients[i], ingredients[i], false);
	select.appendChild(option);
}
</script>

</html>

